<!doctype>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html" charset="UTF-8" />
	</head>
<body>
<h1>{{ title }}</h1>
<form action="upload" method="post">
	<input type="text" name="email" />
	<input type="submit" />
</form>
</body>
</html>
